.breadcrumb-area{
    padding: 20px 10px;
    margin: 20px 0;
    background-color: #f2f2f2;
    width: 100%;
    border-radius: 43px;

}
.breadcrumb-area ol{
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: 12px;
    align-items: center;
    justify-content: center;
}
.breadcrumb-area ol li:not(:last-child):after{
    content: "/";
    font-size: 15px;
    margin-right: 7px;
}
@media screen and (max-width:1000px){
    .breadcrumb-area{
        margin-top: 70px;
    }
    
}
.not-found-wrapper{
    margin: 40px 0;
}
.error-container{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}